#app {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
}

body {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 19.2rem;
}

.page {
  min-height: 100vh;
  position: relative;
}

.home {
  /* background: #ff6a00; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('../images/home_bg.png') no-repeat;
  background-size: 100% 100%;
  position: relative;

  .home_content {
    position: absolute;
    bottom: 0.8rem;
    margin: 0 auto;
    display: flex;

    .info_img {
      width: 0.94rem;
      height: 1.18rem;
      background: url('../images/age_prompt.png') no-repeat;
      background-size: 100% 100%;
      margin-top: 0.12rem;
    }

    .white_card {
      width: 4.12rem;
      height: 1.38rem;
      margin-left: 0.1rem;
      /* 白色毛玻璃 */
      background-color: rgba(255, 255, 255, 0.4);
      backdrop-filter: saturate(50%) blur(0.04rem);
      border-radius: 0.2rem 0.06rem 0.06rem 0.06rem;
      padding: 0.14rem 0.3rem 0.08rem 0.3rem;
      display: flex;

      .scan_text {
        width: 0.2rem;
        height: 100%;
        background: url('../images/download_text.png') no-repeat;
        background-size: 100% 100%;
      }

      .scan_img {
        width: 1.18rem;
        height: 1.18rem;
        margin-left: 0.18rem;
        background: url('../images/scan_img_border.png') no-repeat;
        background-size: 100% 100%;
      }
      .scan_img img {
        width: 100%;
        height: 100%;
        padding: 0.1rem;
      }

      .android_img,
      .ios_img {
        width: 1.8rem;
        height: 0.53rem;
        margin-left: 0.16rem;
        background: url('../images/android_download.png') no-repeat;
        background-size: 100% 100%;
      }

      .ios_img {
        margin-top: 0.1rem;
        background: url('../images/ios_download.png') no-repeat;
        background-size: 100% 100%;
      }
    }
  }
}

.main_content {
}

.main_container {
  padding-top: 0.48rem;
  background: url('../images/2-b-bg.png') no-repeat;
  background-size: 100% 100%;
  height: 35rem;
  position: relative;
  .club_title {
    background: url('../images/club_title.png') no-repeat;
    background-size: 100% 100%;
    width: 9.8rem;
    height: 1.18rem;
    margin: 0 auto;
  }

  .club_content {
    margin: 0 1.02rem 0 1.3rem;
    height: 6.2rem;
    background: url('../images/club_content_bg.png') no-repeat;
    background-size: 100% 100%;
    padding: 0.9rem 1.6rem 0.52rem 1.5rem;
    display: flex;
    box-sizing: border-box;
    .carousel_box {
      width: 7.18rem;
      height: 4.3rem;
      position: relative;
      padding:0.2rem 0.24rem 0.2rem 0.12rem;
      box-sizing: border-box;
      .border_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 7.12rem;
        height: 100%;
        z-index: 2;
        background: url('../images/news_carousel_box_bg.png')  no-repeat;
        background-size: 100% 100%;
      }
      .swiper-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      .swiper-wrapper {
        width: 100%;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .indicator {
        width: 100%;
        height: 0.32rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
        margin-top: 0.1rem;
        .dot {
          width: 0.12rem;
          height: 0.12rem;
          background-color: #935fff;
          border-radius: 50%;
          margin: 0 0.05rem;
          cursor: pointer;
          transition: all 0.3s ease;
        }
        .dot.active {
          background: #f97dff;
          width: 0.46rem;
          border-radius: 0.12rem;
        }
      }
    }

    .news_box {
      flex:1;
      height: 100%;
      margin-left: 0.2rem;
      .tabs {
        background: url('../images/news_tabs_bg.png') no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 0.56rem;
        padding: 0.04rem 0.2rem 0.04rem 0.56rem;
        display: flex;
        .all_text,.notice_text,.strategy_text {
          text-align: center;
          flex:1;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          font-size: 0.32rem;
          color: #2c5298;
          font-weight: bold;
          cursor: pointer;
        }
        .text_active {
          background: url('../images/tab_select_bg.png') no-repeat;
          background-size: 100% 100%;
          color: #6890e2;
        }
      }
      .mes_list {
        margin-top: 0.24rem;
        padding-left: 0.12rem;
        .mes_item {
          display: flex;
          align-items: center;
          margin-top: 0.16rem;
          padding-bottom: 0.14rem;
          border-bottom: 0.02rem solid #c1d7f5;
          font-size: 0.18rem;
          position: relative;
          .headline_icon {
            background: url('../images/headline_icon.png') no-repeat;
          }
          .notice_icon {
            background: url('../images/notice_icon.png') no-repeat;
          }
          .strategy_icon {
            background: url('../images/strategy_icon.png') no-repeat;
          }
          .headline_icon,.notice_icon,.strategy_icon {
            width: 0.68rem;
            height: 0.28rem;
            background-size: 100% 100%;
            margin-right: 0.18rem;
          }
          .time {
            position: absolute;
            right: 0;
            top: 0.02rem;
            /* transform: translateY(-50%); */
            font-size: 0.18rem;
            color: #a2a2a2;
          }
        }
      }
    }
  }
  .wrestle_content {
    .wrestle_title {
      background: url('../images/wrestle_title.png') no-repeat;
      background-size: 100% 100%;
      width: 9.8rem;
      height: 1.18rem;
      margin: 2.7rem auto 0;
    }
    .flame_selected {
      background: url('../images/wrestle/flame_poster.png') no-repeat;
    }
    .bernstein_selected {
      background: url('../images/wrestle/bernstein_poster.png') no-repeat;
    }
    .kagura_selected {
      background: url('../images/wrestle/kagura_poster.png') no-repeat;
    }
    .serpent_selected {
      background: url('../images/wrestle/serpent_poster.png') no-repeat;
    }
    .shiranui_selected {
      background: url('../images/wrestle/shiranui_poster.png') no-repeat;
    }
    .options_box {
      position: absolute;
      top: 1.86rem;
      right: 0.48rem;
      width: 5.28rem;
      height: 4.77rem;
    }
    .options_row {
      display: flex;
    }
    
     
    .options_box .flame_option {
      background: url('../images/wrestle/flame_card.png') no-repeat;
    }
    .options_box .bernstein_option {
      background: url('../images/wrestle/bernstein_card.png') no-repeat;
    }
    .options_box .kagura_option {
      background: url('../images/wrestle/kagura_card.png') no-repeat;
    }
    .options_box .serpent_option {
      background: url('../images/wrestle/serpent_card.png') no-repeat;
    }
    .options_box .shiranui_option {
      background: url('../images/wrestle/shiranui_card.png') no-repeat;
    }
    
    .flame_selected .flame_option {
      background: url('../images/wrestle/flame_card_active.png') no-repeat;
    } 
    .bernstein_selected .bernstein_option {
      background: url('../images/wrestle/bernstein_card_active.png') no-repeat;
    }
    .kagura_selected .kagura_option {
      background: url('../images/wrestle/kagura_card_active.png') no-repeat;
    }
    .serpent_selected .serpent_option {
      background: url('../images/wrestle/serpent_card_active.png') no-repeat;
    }
    .shiranui_selected .shiranui_option {
      background: url('../images/wrestle/shiranui_card_active.png') no-repeat;
    }
    .options_box .option_item{
      width: 2.42rem;
      height: 2.3rem;
      position: relative;
      clip-path: polygon(45% 0, 100% 0, 60% 100%, 0 100%);
      background-size: 100% 100%;
      cursor: pointer;
      margin-left: -0.84rem;
    }
    .options_box .options_row-1 .option_item:first-child {
      margin-left: 1.34rem;
    }
    
    .options_box .options_row-2 {
      margin-top: 0.1rem;
    }
    
    .options_box .options_row-2 .option_item:first-child {
      margin-left: 0;
    }
      
   
    .wrestle_main_content {
      width: 15.84rem;
      height: 8rem;
      background-size: 100% 100%;
      margin: 0.4rem auto 0;
      position: relative;
      transition: opacity 0.15s ease-in-out;
      opacity: 1;
    }
  }
}
.excellent_content {
  position: relative;
  .excellent_content_title {
    background: url('../images/excellent_content_title.png') no-repeat;
    background-size: 100% 100%;
    width: 9.8rem;
    height: 1.18rem;
    margin: 2rem auto 0;
  }

  .carousel-container {
    position: relative;
    display: flex;
    width: 10rem;
    height: 7.6rem;
    margin: 0.32rem auto 0;
    justify-content: center;
    align-items: center;
    perspective: 12rem;
    /* 3D透视 */
    overflow: visible;
  }

  .carousel-track {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }

  /* Rewrite carousel item positioning for seamless circular layout */
  .carousel-item {
    position: absolute;
    width: 4rem;
    height: 6.9rem;
    left: 50%;
    top: 0%;
    margin-left: -2.3rem;
    transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
    transform-style: preserve-3d;
  }

  .card-placeholder {
    width: 100%;
    height: 100%;
    border-radius: 0.15rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-placeholder.card-active {
    position: relative;
  }
  .card-placeholder.card-active::before  {
    content: '';
    position: absolute;
    top: -0.37rem;
    left: -0.5rem;
    width: 4.9rem;
    z-index: -1;
    height: 7.54rem;
    background: url('../images/excellent_img_border-1.png') no-repeat;
    background-size: 100% 100%;
  }
  .card-placeholder.card-active::after  {
    content: '';
    position: absolute;
    top: -0.30rem;
    left: -0.32rem;
    width: 4.6rem;
    z-index: 1;
    height: 7.48rem;
    background: url('../images/excellent_img_border-2.png') no-repeat;
    background-size: 100% 100%;
  }
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    width: 0.52rem;
    height: 0.78rem;
    cursor: pointer;
    z-index: 100;
    background: url('../images/pink_left_icon.png') no-repeat;
    background-size: 100% 100%;
  }

  .carousel-btn.prev_icon {
    left: 0;
  }

  .carousel-btn.next_icon {
    right: 0.5rem;
    background: url('../images/pink_right_icon.png') no-repeat;
    background-size: 100% 100%;
  }
  .excellent_content_star-1,.excellent_content_star-2,.excellent_content_star-3 {
    position: absolute;
    background: url('../images/star_icon.png') no-repeat;
    background-size: 100% 100%;
  }
  .excellent_content_star-1 {
    width: 0.72rem;
    height: 0.72rem;
    top: 0.4rem;
    left:-1.7rem;
  }
  .excellent_content_star-2 {
    width: 0.36rem;
    height: 0.36rem;
    top: 1rem;
    left:-2rem;
  }
  .excellent_content_star-3 {
    width: 0.56rem;
    height: 0.56rem;
    right: -1.4rem;
    bottom:1.4rem;
  }
}

/* 浮窗样式 */
.float_window .open_box {
  width: 0.5rem;
  height: 1rem;
  background: url('../images/art_left_arrow.png') no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  transition: all 0.3s ease;
}

.float_window .detail_float_window {
  position: fixed;
  width: 2rem;
  right: -2.5rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  border-radius: 0.08rem 0 0 0.08rem;
  display: none;
  transition: all 0.3s ease;
  display: flex;
}


.float_window .detail_float_window .close_btn {
  width: 0.5rem;
  height: 1.18rem;
  background: url('../images/art_right_arrow.png') no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -0.36rem;
  transform: translateY(-50%);
}



.float_window .detail_float_window .detail_float_window_content {
  width: 1.91rem;
  height: 6.2rem;
  background: url('../images/float_window_bg.png') no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.14rem;
  color: #333;
  padding-top: 1.76rem;
  padding-left: 0.08rem;
}

.float_window .detail_float_window .qr_code {
  width: 1.46rem;
  height: 1.46rem;
  background: url('../images/qrCode_border.png') no-repeat;
  background-size: contain;
  background-position: center;
}
.float_window .detail_float_window .qr_code img {
  width: 100%;
  height: 100%;
  padding: 0.3rem;
  object-fit: cover;
}

.float_window .detail_float_window .scan_code_text {
  width: 1.28rem;
  height: 0.22rem;
  background: url('../images/scan_code_text.png') no-repeat;
  background-size: 100% 100%;
  margin-top:0.12rem;
}

.float_window .detail_float_window .android_img,
.float_window .detail_float_window .ios_img,
.float_window .detail_float_window .community_img {
  width: 1.4rem;
  height: 0.46rem;
  background: url('../images/android_download.png') no-repeat;
  background-size: 100% 100%;
  background-position: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-top: 0.22rem;
}

.float_window .detail_float_window .community_img {
  background: url('../images/community_icon.png') no-repeat;
  background-size: 100% 100%;
  margin-top: 0.1rem;
  height: 0.46rem;
}


.float_window .detail_float_window .ios_img {
  background-image: url('../images/ios_download.png');
  margin-top: 0.1rem;
}

.footer_content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.04rem;
  background: url('../images/footer_bg.png') no-repeat;
  background-size: 100% 100%;
  display: flex;
  padding-top: 0.7rem;
  .game_icon {
    width: 1.68rem;
    height: 1.68rem;
    background: url('../images/game_icon.png') no-repeat;
    background-size: 100% 100%;
    margin-left: 6rem;
  }
  .qrCode_border-2 {
    width: 1.68rem;
    height: 1.68rem;
    margin-bottom: 0.1rem;
    background: url('../images/qrCode_border-2.png') no-repeat;
    background-size: 100% 100%;
    padding: 0.2rem;
  }
  .qrCode_border-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .wx_official_accounts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0.64rem;
    .wx_accounts_text {
      max-width: 100%;
    }
  }
  .official_community {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0.16rem;
    .official_community_text {
      max-width: 100%;
    }
  }
  .link_service {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0.16rem;
    .link_service_text {
      max-width: 100%;
    }
  }
  .service_phone {
    width: 1.72rem;
    height: 0.6rem;
    background: url('../images/service_phone.png') no-repeat;
    background-size: 100% 100%;
    margin: 0.42rem 0 0  0.32rem;
  }
}
